$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-background: #F6F6F6;
$color-description-italic: #B2B2B2; 
$color-main-description: #545454; 
$color-button-phrase: #292929;
$color-paragraph-about: #4C4C4C;
$color-paragraph-hero:#CDCDCD;
$color-hover-link: #FAFAFA;
$color-dark: #000000;

$content-width: 1280px;
$tablet-width: 767px;
$mobile-small-width: 320px;

