.header__nav {
    padding: 0 3px 3px 0;
    @extend %transition;
    @include media-tablet {
        overflow-x: hidden;
        position: fixed;
        right: -100%;
        top: 0;
        background-color: $color-btn-phrase;
        text-align: center;
        width: 320px;
        height: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        & .header__link {
            padding-top: 30px;
            align-self: flex-start;
            padding-left: 10px;
            position: fixed;
        }
    }
}
.nav {
    display: flex;
    gap: 35px;
    list-style-type: none;
    @extend %cursor;
    @extend %transition;
    @include media-tablet{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 248px;
    }
}
.nav__link {
    @include font(400, 1.5rem, 160%);
    @extend %font-add;
    & a{
        text-decoration: none;
        color: $color-paragraph-start-part;
        display: inline-block;
    }
    @include media-tablet {
        @include font(400, 3.2rem, 160%);
    }
}
.active {
    right: 0;
    @extend %transition;
}
.underlined-link::after, .underlined-link-pets::after {
    @extend %underline-after;
    width: 100%;
    @include media-tablet{
        width: 243px;
        margin: 0 auto;
    }
}
.underlined-link a{
    color: $color-hover-link;
}
.nav-main {
    >:not(.underlined-link) {
        & a {
            &:after {
                    @extend %underline-after;
                }
            &:hover:after, &:focus:after {
                    width: 100%;
                    color: black;
            }
            &:hover {
                color: $color-hover-link;
            }
        }
    } 
}

/*nav for pets*/
.header__nav-pets {
    padding: 0 3px 3px 0;
    @extend %transition;
    display: flex;
    flex-direction: column;
    @include media-tablet {
        overflow-x: hidden;
        position: fixed;
        right: -100%;
        top: 0;
        background-color: $color-light;
        text-align: center;
        width: 320px;
        height: 100%;
        z-index: 1000;
        & .header__link {
            padding-top: 30px;
            align-self: flex-start;
            padding-left: 10px;
            position: fixed;
        }
    }
}
.active-pet {
    right: 0;
    @extend %transition;
}
.nav__link-pets {
    @include font(400, 1.5rem, 160%);
    @extend %font-add;
    & a{
        text-decoration: none;
        color: $color-main-description;
        display: inline-block;
    }
    @include media-tablet {
        @include font(400, 3.2rem, 160%);
    }
}
.underlined-link-pets::after{
    @include media-tablet{
        width: 123px;
        margin: 0 auto;
    }
}
.underlined-link-pets a {
    color: $color-btn-phrase;
}
.nav-pets {
    >:not(.underlined-link-pets) {
        & a {
            &:after {
                    @extend %underline-after;
                }
            &:hover:after, &:focus:after {
                    width: 100%;
                    color: black;
            }
            &:hover {
                color: $color-btn-phrase;
            }
        }
    } 
}

/*nav for pets*/