@font-face {
    font-family: 'Georgia';
    src: local('Georgia'),
        url('../../assets/fonts/georgia/Georgia.woff') format('woff');
}
@font-face {
    font-family: 'Arial';
    src: local('Arial'),
        url('../../assets/fonts/arial/ArialMT.woff') format('woff');
}


